html {
    overflow: scroll;
    scroll-behavior: smooth;
}

body {
    font-family: serif, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: inline;
}

.jumbotron {
    font-size: 30px;
    padding: 60px;
    background-color: red;
    color: aqua;
    text-align: center;
    font-weight: bold;
}

nav {
    background-color: darkslategray;
    padding: 10px;
    text-decoration: antiquewhite;
    color: white;
    overflow: hidden;
}

nav ul {
    float: left;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

nav a:hover {
    font-weight: bold;
    color: aquamarine;
}

.topnav-rigth {
    float: right;
}

main {
    padding: 20px;
    overflow: auto;
}

#content {
    float: left;
    width: 75%;
}

.card {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

h2, h3 {
    color: aqua;
}

.featured-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}